web/WEB-INF/wsdl/localhost_8084/ISODOCWS/IsodocWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.siscomputo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.siscomputo.com/" name="IsodocWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.siscomputo.com/" schemaLocation="http://localhost:8084/ISODOCWS/IsodocWS?xsd=1" />
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login" />
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse" />
</message>
<message name="InsertarModulo">
<part name="parameters" element="tns:InsertarModulo" />
</message>
<message name="InsertarModuloResponse">
<part name="parameters" element="tns:InsertarModuloResponse" />
</message>
<message name="InsertarUsuario">
<part name="parameters" element="tns:InsertarUsuario" />
</message>
<message name="InsertarUsuarioResponse">
<part name="parameters" element="tns:InsertarUsuarioResponse" />
</message>
<message name="InsertarPermiso">
<part name="parameters" element="tns:InsertarPermiso" />
</message>
<message name="InsertarPermisoResponse">
<part name="parameters" element="tns:InsertarPermisoResponse" />
</message>
<message name="ActualizarModulo">
<part name="parameters" element="tns:ActualizarModulo" />
</message>
<message name="ActualizarModuloResponse">
<part name="parameters" element="tns:ActualizarModuloResponse" />
</message>
<message name="Lista_Modulo">
<part name="parameters" element="tns:Lista_Modulo" />
</message>
<message name="Lista_ModuloResponse">
<part name="parameters" element="tns:Lista_ModuloResponse" />
</message>
<message name="Lista_Permiso">
<part name="parameters" element="tns:Lista_Permiso" />
</message>
<message name="Lista_PermisoResponse">
<part name="parameters" element="tns:Lista_PermisoResponse" />
</message>
<message name="Lista_Usuarios">
<part name="parameters" element="tns:Lista_Usuarios" />
</message>
<message name="Lista_UsuariosResponse">
<part name="parameters" element="tns:Lista_UsuariosResponse" />
</message>
<message name="Lista_Permiso_Grupo_Permiso_porGrupo">
<part name="parameters" element="tns:Lista_Permiso_Grupo_Permiso_porGrupo" />
</message>
<message name="Lista_Permiso_Grupo_Permiso_porGrupoResponse">
<part name="parameters" element="tns:Lista_Permiso_Grupo_Permiso_porGrupoResponse" />
</message>
<message name="InsertarGrupoPermisos">
<part name="parameters" element="tns:InsertarGrupoPermisos" />
</message>
<message name="InsertarGrupoPermisosResponse">
<part name="parameters" element="tns:InsertarGrupoPermisosResponse" />
</message>
<message name="Insertar_Permiso_Grupo_Permisos">
<part name="parameters" element="tns:Insertar_Permiso_Grupo_Permisos" />
</message>
<message name="Insertar_Permiso_Grupo_PermisosResponse">
<part name="parameters" element="tns:Insertar_Permiso_Grupo_PermisosResponse" />
</message>
<message name="Lista_Permiso_Grupo_Permiso">
<part name="parameters" element="tns:Lista_Permiso_Grupo_Permiso" />
</message>
<message name="Lista_Permiso_Grupo_PermisoResponse">
<part name="parameters" element="tns:Lista_Permiso_Grupo_PermisoResponse" />
</message>
<message name="InsertarUsuarioGrupoPermisos">
<part name="parameters" element="tns:InsertarUsuarioGrupoPermisos" />
</message>
<message name="InsertarUsuarioGrupoPermisosResponse">
<part name="parameters" element="tns:InsertarUsuarioGrupoPermisosResponse" />
</message>
<message name="ActualizarPermiso">
<part name="parameters" element="tns:ActualizarPermiso" />
</message>
<message name="ActualizarPermisoResponse">
<part name="parameters" element="tns:ActualizarPermisoResponse" />
</message>
<message name="ActualizarPermisoGrupoPermiso">
<part name="parameters" element="tns:ActualizarPermisoGrupoPermiso" />
</message>
<message name="ActualizarPermisoGrupoPermisoResponse">
<part name="parameters" element="tns:ActualizarPermisoGrupoPermisoResponse" />
</message>
<message name="ActualizaGrupoPermisos">
<part name="parameters" element="tns:ActualizaGrupoPermisos" />
</message>
<message name="ActualizaGrupoPermisosResponse">
<part name="parameters" element="tns:ActualizaGrupoPermisosResponse" />
</message>
<message name="Lista_GrupoPermisos">
<part name="parameters" element="tns:Lista_GrupoPermisos" />
</message>
<message name="Lista_GrupoPermisosResponse">
<part name="parameters" element="tns:Lista_GrupoPermisosResponse" />
</message>
<message name="ActualizaUsuarioGrupoPermisos">
<part name="parameters" element="tns:ActualizaUsuarioGrupoPermisos" />
</message>
<message name="ActualizaUsuarioGrupoPermisosResponse">
<part name="parameters" element="tns:ActualizaUsuarioGrupoPermisosResponse" />
</message>
<message name="Lista_UsuarioGrupoPermisos">
<part name="parameters" element="tns:Lista_UsuarioGrupoPermisos" />
</message>
<message name="Lista_UsuarioGrupoPermisosResponse">
<part name="parameters" element="tns:Lista_UsuarioGrupoPermisosResponse" />
</message>
<message name="ActualizarUsuario">
<part name="parameters" element="tns:ActualizarUsuario" />
</message>
<message name="ActualizarUsuarioResponse">
<part name="parameters" element="tns:ActualizarUsuarioResponse" />
</message>
<message name="Permisos">
<part name="parameters" element="tns:Permisos" />
</message>
<message name="PermisosResponse">
<part name="parameters" element="tns:PermisosResponse" />
</message>
<portType name="IsodocWS">
<operation name="Login">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/LoginRequest" message="tns:Login" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/LoginResponse" message="tns:LoginResponse" />
</operation>
<operation name="InsertarModulo">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarModuloRequest" message="tns:InsertarModulo" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarModuloResponse" message="tns:InsertarModuloResponse" />
</operation>
<operation name="InsertarUsuario">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarUsuarioRequest" message="tns:InsertarUsuario" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarUsuarioResponse" message="tns:InsertarUsuarioResponse" />
</operation>
<operation name="InsertarPermiso">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarPermisoRequest" message="tns:InsertarPermiso" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarPermisoResponse" message="tns:InsertarPermisoResponse" />
</operation>
<operation name="ActualizarModulo">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarModuloRequest" message="tns:ActualizarModulo" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarModuloResponse" message="tns:ActualizarModuloResponse" />
</operation>
<operation name="Lista_Modulo">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_ModuloRequest" message="tns:Lista_Modulo" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_ModuloResponse" message="tns:Lista_ModuloResponse" />
</operation>
<operation name="Lista_Permiso">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_PermisoRequest" message="tns:Lista_Permiso" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_PermisoResponse" message="tns:Lista_PermisoResponse" />
</operation>
<operation name="Lista_Usuarios">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_UsuariosRequest" message="tns:Lista_Usuarios" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_UsuariosResponse" message="tns:Lista_UsuariosResponse" />
</operation>
<operation name="Lista_Permiso_Grupo_Permiso_porGrupo">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_Permiso_Grupo_Permiso_porGrupoRequest" message="tns:Lista_Permiso_Grupo_Permiso_porGrupo" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_Permiso_Grupo_Permiso_porGrupoResponse" message="tns:Lista_Permiso_Grupo_Permiso_porGrupoResponse" />
</operation>
<operation name="InsertarGrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarGrupoPermisosRequest" message="tns:InsertarGrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarGrupoPermisosResponse" message="tns:InsertarGrupoPermisosResponse" />
</operation>
<operation name="Insertar_Permiso_Grupo_Permisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Insertar_Permiso_Grupo_PermisosRequest" message="tns:Insertar_Permiso_Grupo_Permisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Insertar_Permiso_Grupo_PermisosResponse" message="tns:Insertar_Permiso_Grupo_PermisosResponse" />
</operation>
<operation name="Lista_Permiso_Grupo_Permiso">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_Permiso_Grupo_PermisoRequest" message="tns:Lista_Permiso_Grupo_Permiso" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_Permiso_Grupo_PermisoResponse" message="tns:Lista_Permiso_Grupo_PermisoResponse" />
</operation>
<operation name="InsertarUsuarioGrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarUsuarioGrupoPermisosRequest" message="tns:InsertarUsuarioGrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/InsertarUsuarioGrupoPermisosResponse" message="tns:InsertarUsuarioGrupoPermisosResponse" />
</operation>
<operation name="ActualizarPermiso">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarPermisoRequest" message="tns:ActualizarPermiso" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarPermisoResponse" message="tns:ActualizarPermisoResponse" />
</operation>
<operation name="ActualizarPermisoGrupoPermiso">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarPermisoGrupoPermisoRequest" message="tns:ActualizarPermisoGrupoPermiso" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarPermisoGrupoPermisoResponse" message="tns:ActualizarPermisoGrupoPermisoResponse" />
</operation>
<operation name="ActualizaGrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizaGrupoPermisosRequest" message="tns:ActualizaGrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizaGrupoPermisosResponse" message="tns:ActualizaGrupoPermisosResponse" />
</operation>
<operation name="Lista_GrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_GrupoPermisosRequest" message="tns:Lista_GrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_GrupoPermisosResponse" message="tns:Lista_GrupoPermisosResponse" />
</operation>
<operation name="ActualizaUsuarioGrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizaUsuarioGrupoPermisosRequest" message="tns:ActualizaUsuarioGrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizaUsuarioGrupoPermisosResponse" message="tns:ActualizaUsuarioGrupoPermisosResponse" />
</operation>
<operation name="Lista_UsuarioGrupoPermisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_UsuarioGrupoPermisosRequest" message="tns:Lista_UsuarioGrupoPermisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/Lista_UsuarioGrupoPermisosResponse" message="tns:Lista_UsuarioGrupoPermisosResponse" />
</operation>
<operation name="ActualizarUsuario">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarUsuarioRequest" message="tns:ActualizarUsuario" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/ActualizarUsuarioResponse" message="tns:ActualizarUsuarioResponse" />
</operation>
<operation name="Permisos">
<input wsam:Action="http://ws.siscomputo.com/IsodocWS/PermisosRequest" message="tns:Permisos" />
<output wsam:Action="http://ws.siscomputo.com/IsodocWS/PermisosResponse" message="tns:PermisosResponse" />
</operation>
</portType>
<binding name="IsodocWSPortBinding" type="tns:IsodocWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarModulo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarPermiso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarModulo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_Modulo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_Permiso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_Usuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_Permiso_Grupo_Permiso_porGrupo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarGrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Insertar_Permiso_Grupo_Permisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_Permiso_Grupo_Permiso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarUsuarioGrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarPermiso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarPermisoGrupoPermiso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizaGrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_GrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizaUsuarioGrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lista_UsuarioGrupoPermisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ActualizarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Permisos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="IsodocWS">
<port name="IsodocWSPort" binding="tns:IsodocWSPortBinding">
<soap:address location="http://localhost:8084/ISODOCWS/IsodocWS" />
</port>
</service>
</definitions>